/*primera columna */

$white:#fff;
$isabeline:#ECECEC;
$light-gray:#D1D1D1;

/*segunda columna */

$smoky-black:#0C0910;
$granite-gray:#646266;
$quick-silver:#A6A5A8;

/*tipografia*/
$old-standart-tt:'Old Standard TT', serif;
$raleway:'Raleway', sans-serif;


/*peso de fuente */

$Regular: 400;
$Bold: 700;

$Regular-italic: 400; 
$Bold: 700;

/*tamaño de fuente */
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;


